<h1>New product</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select name="category" required ngModel>
          <mat-option *ngFor="let category of categories | async" [value]="category._id">
            {{ category.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" required matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input type="number" name="price" required matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          name="description"
          required
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel></app-file-input>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
